auth/data/*
common/data/*
.DS_Store
.settings*
core/data/postgres/*
.idea
eureka-server/mvnw
eureka-server/.mvn/wrapper/maven-wrapper.properties
eureka-server/mvnw.cmd
core/docker-compose.yml
auth/docker-compose.yml
.project
core/.env
